body {
    background-color: #22396a;
    color: white;
}
a {
    color: red;
}
h2 {
    color: green;
    font-size: 30px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 19px;
}
h5 {
    font-size: 18px;
}